<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        :root {
            overflow-x: hidden;
        }
        .notification-box:hover {
            background-color: lightsalmon;
            transition: background-color 0.5s;
        }

        .notification-box {
            background-color: lightgoldenrodyellow;
            transition: background-color 0.5s;
            font-size: 1rem;
            font-style: normal;
        }
        #notifications-window::-webkit-scrollbar{
            display: none;
        }
        .avatar {
            border-radius: 50%;
            width: 4em; /* Adjust as needed */
            height: 4em; /* Adjust as needed */
            object-fit: cover;
            margin-right: 2em;
            margin-left: 2em;
            cursor: pointer;
        }
        .profile-option {
            background-color: lightgoldenrodyellow;
            transition: background-color 0.3s;
        }

        .profile-option:hover {
            background-color: lightsalmon;
            transition: background-color 0.3s;
        }
    </style>

    <div class="header" style="display: flex; margin: none; width: 100%; flex-direction: row; align-items: center; justify-content: right; height: 10vh; background-color: antiquewhite;">
        <input type="hidden" id="token"  name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="stories-wrapper" style="display: flex; padding: 1em;">
            <button onclick="location.href = 'http://127.0.0.1:8000/'" style="width: 10em; height: 2.5em; cursor: pointer;">All Stories</button>
        </div>
        {% if request.user.is_authenticated %}
            <input type="hidden" id="user_id" value="{{request.user.id}}">

            <div class="notifications-wrapper" style="display: flex; padding: 1em;">
                <button class="dropdown" id="notifications" style="width: 10em; height: 2.5em; cursor: pointer;"></button>
            </div>
            <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg" class="avatar" alt="User Avatar" id="profile_options">
        {% else %}
        <div class="auth-wrapper" style="display: flex;">
            <button onclick="location.href = 'http://127.0.0.1:8000/user/login/'" style="width: 10em; height: 2.5em; cursor: pointer; margin: 1em;">Login</button>
            <button onclick="location.href = 'http://127.0.0.1:8000/user/signup/'" style="width: 10em; height: 2.5em; cursor: pointer; margin: 1em;">Signup</button>
        </div>
        {% endif %}
    </div>

    <div class="dropdown-wrapper" id="clickable_note_zone" style="display: flex; width: 100%; height: 30rem; background-color: rgba(0, 0, 0, 0.2); justify-content: right; background: transparent; position: absolute; pointer-events: none;">
        <div id="dropdown_options" style="display: none; flex-direction: column; width: 25rem; height: 100%; background-color: lightgoldenrodyellow; border-radius: 10px 10px 10px 10px; margin-right: 5em; z-index: 999; pointer-events: auto;">
            <div class="heading-wrapper" style="width: 100%; height: 10%;  border-bottom: 1px solid rgba(0, 0, 0, 0.2);">
                <h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif; margin-left: 1em; margin-top: 0.25em; margin-bottom: 0.25em; padding: 5px;">Notifications</h3>
            </div>
            <div class="notifications-list-wrapper" id="notifications_window"  style="display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: left; align-items: top; overflow: auto; overflow-x: hidden; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                
            </div>
        </div>
    </div>

    <div class="profile-dropdown-wrapper" id="clickable_profile_zone"  style="display: flex; width: 100%; height: 30rem; background-color: rgba(0, 0, 0, 0.2); justify-content: right; background: transparent; position: absolute; pointer-events: none;">
        <div id="profile_dropdown_options" style="display: none; width: 15rem; height: min-content; background-color: lightgoldenrodyellow; border-radius: 10px 10px 10px 10px; z-index: 999; pointer-events: auto; margin-right: 1em; flex-direction: column;">
            
            <div class="heading-wrapper" style="width: 100%; height: 10%;  border-bottom: 1px solid rgba(0, 0, 0, 0.2);">
                <h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif; margin-left: 0.4em; margin-top: 0.25em; margin-bottom: 0.25em; padding: 5px;">{{request.user.username}}</h3>
            </div>
                
            <div class="profile-option" style="width: 100%;">
                <a href="http://127.0.0.1:8000/user/view_profile/{{request.user.id}}" style="display: flex; text-decoration: none; height: 100%;">
                    <div class="profile-link"">
                        <h3 style="font-size: 0.8rem; font-family: Verdana, Geneva, Tahoma, sans-serif; margin-left: 1em; margin-top: 1em;">View User Profile</h3>
                    </div>
                </a>
            </div>

            <div class="profile-option" style="width: 100%">
                <a href="http://127.0.0.1:8000/createStory" style="display: flex; text-decoration: none; height: 100%;">
                    <div class="create-story-link">
                        <h3 style="font-size: 0.8rem; font-family: Verdana, Geneva, Tahoma, sans-serif; margin-left: 1em;">Create Story</h3>
                    </div>
                </a>
            </div>

            <div class="profile-option" style="width: 100%">
                <a href="http://127.0.0.1:8000/user/logout/" style="display: flex; text-decoration: none; height: 100%;">
                    <div class="logout-link">
                        <h3 style="font-size: 0.8rem; font-family: Verdana, Geneva, Tahoma, sans-serif; margin-left: 1em;">Log Out</h3>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <script>
        // window.addEventListener("DOMContentLoaded", getUserNotifications(1));
        var notification_dropdown = document.getElementById('dropdown_options');
        var toggleButton = document.getElementById('notifications');
        var profilePicture = document.getElementById('profile_options')
        var profile_dropdown = document.getElementById('profile_dropdown_options');

        var clickable_note_zone = document.getElementById('clickable_note_zone');
        var clickable_profile_zone = document.getElementById('clickable_profile_zone');

        var scrollable_note_window_part = document.getElementById('notifications_window');
        
        var notification_pages_info = null;

        window.addEventListener('click', function(event) {
            if (event.target == profilePicture){
                notification_dropdown.style.display = "none";

                if (profile_dropdown.style.display == "none") {
                    profile_dropdown.style.display = "flex";
                }
                else {
                    profile_dropdown.style.display = "none";
                }

            }
            else if (event.target == toggleButton) {
                profile_dropdown.style.display = "none";
                
                if (notification_dropdown.style.display == "none") {
                    notification_dropdown.style.display = "flex";
                    
                    var children = scrollable_note_window_part.getElementsByClassName('notification-box');
                    if (children.length === 0) {
                        getUserNotifications(1);
                    }
                    
                }
                else {
                    notification_dropdown.style.display = "none";
                }


            }
            else if (event.target != toggleButton & event.target != profilePicture & !clickable_note_zone.contains(event.target) & !clickable_profile_zone.contains(event.target)){
                notification_dropdown.style.display = "none";
                profile_dropdown.style.display = "none";
            }
            else {
                //pass
            }
        });

        function getUserNotifications(page) {
            var user = document.getElementById('user_id')

            fetch(`http://127.0.0.1:8000/notifications/get_notifications/${user.value}?page=${page}`, {
                method: "GET",
                headers:{
                    'Content-Type':'application/json',
                },
                })
                .then(response => {
                        return response.json()
                })
                .then(response => {
                    notification_pages_info = response.data.page;
                    console.log(response)
                    CreateNotificationsBoxes(response.data);
                });

            
        }

        function CreateNotificationsBoxes(data) {
            var button = document.getElementById('notifications')
            var modal_content = document.getElementById('notifications_window')

            if (notification_pages_info.overall > 6){
                button.textContent = `Notifications: 5+`;
            }
            else {
                button.textContent = `Notifications: ${notification_pages_info.overall}`;
            }
            var token = document.getElementById('token')

            for (let i = 0; i < data.notifications.length; i++){
                var comment_body = document.createElement("div");
                comment_body.className = "notification-box";
                comment_body.style.padding = "5px";
                comment_body.style.maxWidth = "100%";
                comment_body.style.textAlign = "justify";
                comment_body.style.cursor = "pointer";

                if (data.notifications[i].admin) {
                    var content_text = document.createElement("h2");
                    content_text.innerHTML = data.notifications[i].message + ` Lasts Until: ${data.notifications[i].expiration_date}.`;
                }
                else if (data.notifications[i].story) {
                    comment_body.addEventListener('click', function() {
                        var links = document.getElementsByClassName('notification-link');
                        var elementsArray = Array.from(links);

                        if (elementsArray.every(link => event.target != link)) {

                            var url = `http://127.0.0.1:8000/story/${data.notifications[i].post_id}?comment=${data.notifications[i].comment_id}`

                            var fetch_url = `http://127.0.0.1:8000/notifications/mark_as_read/`

                            fetch(fetch_url, {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                    "X-CSRFToken": token.value,
                                },
                                body: JSON.stringify({"note_id": data.notifications[i].id, "type": "story"})

                            }).then(response => {
                                window.location.replace(url);
                            })
                        }
                    })

                    var content_text = document.createElement("h2");
                    content_text.innerHTML = `You received new commentary on your story <a href="http://127.0.0.1:8000/story/${data.notifications[i].post_id}" class="notification-link">${data.notifications[i].post_title}</a> from User <a href="http://example.com" class="notification-link">${data.notifications[i].creator_username}</a>`;
                }
                else {
                    comment_body.addEventListener('click', function() {
                        var links = document.getElementsByClassName('notification-link');
                        var elementsArray = Array.from(links);

                        if (elementsArray.every(link => event.target != link)) {

                            var url = `http://127.0.0.1:8000/story/${data.notifications[i].post_id}?comment=${data.notifications[i].comment_id}`

                            var fetch_url = `http://127.0.0.1:8000/notifications/mark_as_read/`

                            fetch(fetch_url, {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                    "X-CSRFToken": token.value,
                                },
                                body: JSON.stringify({"note_id": data.notifications[i].id, "type": "comment"})

                            }).then(response => {
                                window.location.replace(url);
                            })
                        }
                    })

                    var content_text = document.createElement("h2");
                    content_text.innerHTML = `You received new reply on your commentary on Story <a href="http://127.0.0.1:8000/story/${data.notifications[i].post_id}" class="notification-link">${data.notifications[i].post_title}</a> from User <a href="http://example.com" class="notification-link">${data.notifications[i].creator_username}</a>`;
                }
                content_text.style.textAlign = "left";
                content_text.style.fontSize = "0.7rem";
                content_text.style.padding = "5px";
    
                comment_body.appendChild(content_text);
                modal_content.appendChild(comment_body);
            }

            var elements = document.getElementsByClassName('notification-box');
            var target = elements[elements.length - 1];
            console.log(target)

            var options = {
                root: null, // Use the viewport as the root
                rootMargin: '0px', // No margin around the viewport
                threshold: 0.5 // Trigger when at least half of the element is visible
            };

            // Callback function to execute when the element intersects
            var callback = (entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting & notification_pages_info.has_next) {
                    // Element is visible
                    observer.unobserve(entry.target);
                    getUserNotifications(notification_pages_info.current + 1);
                }
            });
            };

            // Create an intersection observer instance
            var observer = new IntersectionObserver(callback, options);

            // Start observing the target element
            observer.observe(target);

        }
        

    </script>

    {% block content %}
    {% endblock %}

</body>
</html>
